button {
    font-size: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    font-weight: inherit;
    font-style: inherit;
    cursor: pointer;
    color: #000000;
}

button svg {
    width: 24px;
    height: 24px;
}

button.right {
    float: right;
}
